
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: column wrap;
   /* justify-content: space-evenly;*/
    font-family: helvetica;
}

.banner-image {
    margin: 0;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    opacity: 1;
}

.title-wrapper {
  width: 100%;
  min-height: auto;
  position: absolute;
  top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #243523;
  border-radius: 10px; */
}

.text span {
  font-size: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  color: rgb(210, 247, 199);
  animation: zoomup 2s linear infinite;
  animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #07f507;
    filter: blur(1px);
    text-shadow: 0 0 10px #07f507, 0 0 20px #07f507, 0 0 30px #07f507,
      0 0 40px #07f507, 0 0 60px #07f507, 0 0 80px #07f507, 0 0 100px #07f507,
      0 0 120px #07f507;
  }

  5%,
  95% {
    filter: blur(0);
    color: rgb(210, 247, 199);
    text-shadow: none;
  }
}

.intro-text {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  border: 2px solid #07f507;
  border-radius: 10px;
  background-color: rgb(210, 247, 199);
}

h3 {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

h5 {
  padding: 30px 80px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-style: italic;
}






